@{
    ViewBag.Title = "Página Inicial";
}

<div class="jumbotron">
    <h1>Herminio Reparações</h1>
    <p class="lead">Na Herminio Reparações reparamos todos os produtos eletrónicos! Computador Avariado? Vá há Herminio Reparações!!</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Sobre Nós</h2>
        <p>
            Muitos Anos de Serviço, Experiência a Transbordar.
        </p>
    </div>
    <div class="col-md-6">
        <h2>Contactos</h2>
        <address>
            Rua Direita<br />
            Loja 24, 3520-012<br />
            <abbr title="Telemóvel">T:</abbr>
            232 222 111
        </address>

        <address>
            <strong>Suporte:</strong>   <a href="">herminio@repara.pt</a><br />
            <strong>Marketing:</strong> <a href="">joaquim@malpago.pt</a>
        </address>
    </div>
</div>